/* Center the board */
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
} */

/* Center the board inside */
.board-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Each column box */
.task-column {
  width: 30%;
  min-width: 320px;
  min-height: 350px;
  border: 2px solid #e1e1e1;
  background: white;
  border-radius: 10px;
  padding: 15px;
}

/* Column heading */
.task-column h4 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

/* Task item */
.task-item {
  padding: 12px;
  background: #f8f9fa;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ddd;
  transition: 0.2s ease;
}

.task-item:hover {
  background: #e7f1ff;
  transform: scale(1.03);
  cursor: pointer;
}

/* Center main title */
h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}
